body {
    background: url(./img/1.png) center top no-repeat, url(./img/2.png) center bottom 155px no-repeat;
    background-color: #001821;
    color: #ffffff;
    font: 400 16px/1.42 'Open Sans', Helvetica, sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

.ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.wrapper main-page-wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1141px;
}

.header {
    height: 120px;
    position: relative;
}

.logo {
    display: block;
    position: relative;
    width: 85px;
    height: 36px;
    top: 29px;
    left: 0;
}


.menu {
    position: absolute;
    display: inline-block;
    left: 164px;
    top: 25px;

}

.menu__list {
    padding: 0;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__link {
    text-decoration: none;

}

.menu__item--active .menu__link {
    color: #DA0100;

}


.contacts {
    position: absolute;
    top: 26px;
    right: 0;
    text-align: right;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__phone {
    position: relative;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-decoration: none;
} 


.header {
    position: relative;
    margin-bottom: 150px;
}


.menu__link {
    font-size: 14px;
}

.hero__title {
    width: 511px;
    height: 197px;
    left: 390px;
    top: 196px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}

.hero__subtitle {
    width: 196px;
    height: 20px;
    left: 390px;
    top: 420.5px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.btn {
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    top: 33px;
    font: bold 14px/1.42 'Open Sans', Helvetica, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

.section {
    margin: 246px auto;
    
}


.tour__list {
    display: inline-block;
    margin-bottom: 127px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-left: 0px;
    align-items: center;
    color: #303030;
    
    
   
}

.tour__item {
    display: inline-block;
    width: 362px;
    height: 449px;
    vertical-align: top;
    margin-right: 23px;
   
}

.tour__item:last-child {
    margin-right: 0;
}

.tour__header {
    height: 139px;
    
}
.tour__img {
    width: 100%;
    height: 100%;
}


.tour__content {
    position: relative;
    
    background: #FFFFFF;
    
    border-radius: 0 0 5px 5px;
    padding: 33px 16px 26px 22px;
    width: 324px;
    height: 246px;
}

.tour__description {
    width: 324px;
    height: 63px;
}

.tour__list-title {
    
    width: 142px;
    height: 33px;
    margin-top: auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.tour__title {
    margin-bottom: 51px;
}



.tour__title-world {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    margin-right: 12px;
}


.tour__title-icon {
    width: 21px;
    height: 28px;
}


 

.tour__terms {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding-left: 0;
}

.tour__terms-item {
    display: flex;
    padding-left: 5px;
    padding-top: 0px;
    margin-right: 29px;
    color: #666666;
}

.tour__terms-info {
    display: flex;
    margin-left: 4px;
    align-items: center;
}

.tour__item-icon {
    margin-right: 10px;
}

.tour__terms-item:last-child {
    margin-right: 0;
}


.tour__description {
    
    position: relative;
    width: 324px;
    height: 63px;
    margin-bottom: 25px;
}

.tour__button-wrapper {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}



.tour__button:hover {
    background-color: #F5170E;
    color: #fff;
    transition: .3s;
}


.tour__button {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    background-color: #fff;
    border: 1px solid #F5170E;
    color: #F5170E;
    padding: 14px 27px;
    text-align: center;
    border-radius: 35px;
    text-transform: uppercase;
    text-decoration: none;
}



.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.news__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
}

.news__list {
    display: inline-block;
    padding: 0;
    margin-bottom: 53px;
}

.news__item {
    display: inline-block;
    position: relative;
    width: 557px;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
}

.news__item:last-child {
    margin-right: 0;
}

.single-news__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 228px;
    padding: 21px 31px;
    min-height: 171px;
}

.single-news__date {
    display: block;
    font-size: 14px;
    margin-bottom: 9px;
}
.single-news__subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 6px;

}

.pager {
    text-align: center;
    margin-bottom: 152px;
}

.pager__display,.pager__list,.pager__item {
    display: inline-block;
    vertical-align: middle;
}

.pager__display {
    margin-right: 26px;
}
.pager__item {
    display: inline-block;
    vertical-align: middle;
}
.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.pager__link:hover {
    background: #FFFFFF;
}

.about {
    display: flex;
}

.about::before {
    content: "";
    display: block;
    width: 490px;
    height: 505px;
    background: url(./img/gates.png) top center / cover no-repeat;
}

.about__desc {
    background: url(./img/mountains.png);
    padding: 0px 141px;
    max-width: 779px;
    min-height: 455px;
    margin-left: -178px;
    margin-top: 107px;
    border-radius: 5px;
    overflow: hidden
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 37px;
}
.about__desc-text {
    margin-bottom: 43px;
    width: 502px;
    height: 135px;
    left: 824px;
    top: 2428px;
    color: #060606;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.footer-container {
}
.footer {
    position: relative;
    height: 165px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials {
    top: 49px;
    right: 300px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 46px;
    background: center center no-repeat;
}

.socials__item--icon--telegram .socials-link {
    background-image:url(./img/t.png) ;
}

.socials__item--icon--telegram .socials-link:hover {
    background-image: url(./img/t-hover.png)
}
.socials__item--icon--telegram .socials-link {
    background-image:url(./img/vk.png) ;
}

.socials__item--icon--telegram .socials-link:hover {
    background-image: url(./img/vk-hover.png)
}
.socials__item--icon--telegram .socials-link {
    background-image:url(./img/facebook1.png) ;
}

.socials__item--icon--telegram .socials-link:hover {
    background-image: url(./img/f2.png)
}
.socials__item--icon--telegram .socials-link {
    background-image:url(./img/in.png) ;
}

.socials__item--icon--telegram .socials-link:hover {
    background-image: url(./img/in-hover.png)
}
